.grey-matter-section, .black-holes-section, .spectral-section, .lightspeed-section {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-position:center; 
}
.grey-matter-section {
	background-image:url(../img/grey-matter-bkg.jpg);
}
.black-holes-section {
	background-image:url(../img/black-whole-bkg.jpg);
}
.spectral-section {
	background-image:url(../img/spectral-bkg.jpg);
}
.lightspeed-section {
	background-image:url(../img/lightspeed-bkg.jpg);
}
.grey-main-footer-ribbon, .black-hole-footer, .black-hole-chart, .spectral-chart, .spectral-footer-ribbon, .spectral-ribbon-1, .spectral-ribbon-2, .spectral-ribbon-3, .light-chart, .light-chart-2  {
	position:absolute;
	height:auto;		
}
.grey-main-footer-ribbon {
	top:746px;
	right:-46px;
	width:1051px;
}
.black-hole-footer {
	top:836px;
	right:-35px;
	width:1030px;
}
.black-hole-chart {
	top:0px;
	left:65px;
	width:410px;
}	
.spectral-chart {
	top:807px;
	left:91px;
	z-index:1;	
	width:760px;
}
.spectral-footer-ribbon {
	top:1241px;
	left:-34px;
	width:1047px;
}
.spectral-ribbon-1, .spectral-ribbon-2, .spectral-ribbon-3 {
	width:380px;
}
.spectral-ribbon-1 {
	top:-5px;
	left:14px;
}
.spectral-ribbon-2 {
	top:104px;
	left:9px;
}
.spectral-ribbon-3 {
	top:211px;
	left:14px;
}
.light-video, .light-header {
	position:absolute;
}
.light-video {
	top:0;
	left:20px;
	width:420px;
	height:255px;
}
.light-chart {
	top:867px;
	left:53px;
	z-index:1;	
	width:500px;
}
.light-chart-2 {
	top:867px;
	right:85px;
	z-index:1;	
	width:250px;
}
.light-header {
	top:796px;
	left:20px;
	z-index:1;	
}