
.nebulas-section, .crab-nebula-section, .eagle-nebula-section, .horse-nebula-section, .messier78-nebula-section, .tarantula-nebula-section {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-position:center; 
}
.nebulas-section {
	background-image:url(../img-nebulas/nebulas-bkg.jpg);
}
.crab-nebula-section {
	background-image:url(../img-nebulas/crab-nebula-bkg.jpg);
}
.eagle-nebula-section {
	background-image:url(../img-nebulas/eagle-nebula-bkg.jpg);
}
.horse-nebula-section {
	background-image:url(../img-nebulas/horse-nebula-bkg.jpg);
}
.messier78-nebula-section {
	background-image:url(../img-nebulas/messier78-nebula-bkg.jpg);
}
.tarantula-nebula-section {
	background-image:url(../img-nebulas/tarantula-nebula-bkg.jpg);
}

.main-ribbon-footer {
	position:absolute;
	top:770px;
	left:-44px;
	width:1049px;
	height:auto;	
}
.crab-ribbon-1, .crab-ribbon-2, .crab-ribbon-3, .eagle-ribbon-1, .eagle-ribbon-2, .eagle-ribbon-3, .horsehead-ribbon-1, .horsehead-ribbon-2,
.horsehead-ribbon-3  
{
	position:absolute;
	left:0;
	width:380px;
	height:auto;
}
.crab-ribbon-1, .eagle-ribbon-3, .horsehead-ribbon-1 {
	top:-5px;
}
.crab-ribbon-2, .eagle-ribbon-2, .horsehead-ribbon-2 {
	top:104px;
}
.crab-ribbon-3, .eagle-ribbon-1, .horsehead-ribbon-3{
	top:208px;
}
.crab-graph-1, .crab-graph-2, .crab-graph-3, .messier78-graph-1, .messier78-graph-2, .tarantula-ribbon-1 {
	position:absolute;
	height:auto;
	z-index:1;
}
.crab-graph-1 {
	left:50px;
	top:815px;
	width:211px;
}
.crab-graph-2 {
	left:373px;
	top:815px;
	width:211px;
}
.crab-graph-3 {
	right:50px;
	top:815px;
	width:211px;
}
.messier78-graph-1 {
	left:73px;
	top:448px;
	width:455px;
}
.messier78-graph-2 {
	right:87px;
	top:446px;
	width:236px;
}
.crab-footer-ribbon, 
.eagle-graph-1,
.eagle-footer-ribbon, 
.horsehead-footer-ribbon, 
.messier78-ribbon-1, 
.messier78-ribbon-2, 
.messier-footer-ribbon {
	position:absolute;
	height:auto;	
}
.crab-footer-ribbon {
	right:-52px;
	top:1181px;
	width:1046px;
}
.eagle-graph-1 {
	right:95px;
	top:817px;
	width:287px;
}
.eagle-footer-ribbon {
	right:-36px;
	top:1190px;
	width:1031px;
}
.horsehead-footer-ribbon {
	right:-52px;
	top:1190px;
	width:1046px;
}
.messier78-ribbon-1 {
	left:20px;
	top:38px;
	width:390px;
}
.messier78-ribbon-2 {
	left:20px;
	top:154px;
	width:390px;
}
.messier-footer-ribbon {
	left:-36px;
	top:1202px;
	width:1033px;
}
.tarantula-ribbon-1 {
	right:75px;
	top:449px;
	width:306px;
}
.light-video {
	position:absolute;
	top:0;
	left:0;
	width:420px;
	height:315px;	
}