body {
	height: 100%;
	margin:0;
	padding:0;	
	position:relative;
}
section {
	height:100% !important;	
	/*min-height: 100vh;*/
	/*height: 1300px;*/
	padding:0px 0 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center;

	position:relative;
	top:0;
	width:960px;
	background-color:#FFF;
	margin:0 auto;	
	z-index:3 !important;
}

.title-wrap {
	width:100%;
	height:60px;
	position:absolute;	
	top:50px;
	left:0;	
}
.title-bkg {
	height:60px;
	width:319px;
	background-color:#000;
	opacity:0.7;
	padding-top:1px;
	position:absolute;
	top:0;
	left:0;
}
.title {
	position:absolute;
	top:9px;
	left:21px;
	font-family: 'Roboto', sans-serif;
	font-size:31px;
	color:#3F0;
	margin:0;
	z-index:2;
}
.view-bkg {
	position:absolute;
	top:0;
	right:-16px;	
}
.main-copy-wrap {
	width:100%;
	height:220px;
	position:absolute;	
	top:150px;
	left:0;
}
.main-copy-box {
	width:750px;
	height:250px;
	position:absolute;
	top:0;
	left:0;
	background-color:#000;
	opacity:0.7;	
	padding:20px;
}
.main-copy-wrap {
	position:absolute;
	top:;
	left:;
	width:750px;
	height:210px;	
}
.copy-wrap-top, .copy-wrap-left {
	position:absolute;
	top:20px;
	left:20px;
	height:210px;
	z-index:50;	
}
.copy-wrap-top {
	width:710px;	
}
.copy-wrap-left {
	width:420px;
}
.copy-wrap-right {
	position:absolute;
	top:20px;
	right:20px;
	width:460px;
	height:210px;
	z-index:50;		
}
.padd-bottom {
	padding-bottom:15px;	
}
.badge {
	position:absolute;
	top:45px;
	left:777px;	
}
.sub-copy-wrap {
	width:100%;
	position:absolute;	
	top:430px;
	left:0;
	padding-right:20px;
}
.sub-copy-box {
	width:100%;
	height:255px;
	position:absolute;
	top:0;
	left:0;
	background-color:#000;
	opacity:0.7;
	padding:20px;	
	margin-right:20px;
}
.sub-copy-box-flip, .small-box {
	width:460px;
	height:255px;
	position:absolute;
	background-color:#000;
	opacity:0.7;
	padding:20px;	
}
.sub-copy-box-flip {
	top:0;
	right:0;	
}
.add-height {
	height:330px !important;	
}
.small-box {
	margin-right:20px;
	top:0;
	left:0;
}
.sub-copy-box {
	width:100%;	
	height:255px;
	position:absolute;
	top:0;
	left:0;
	background-color:#000;
	opacity:0.7;
	padding:20px;	
}
.bottom-wrap, .spectral-bottom-wrap, .light-bottom-wrap {
	width:100%;	
	height:305px;
	position:absolute;
	top:791px;
	left:0;
	background-color:#000;
	opacity:0.7;
}
.spectral-bottom-wrap {
	top:790px;	
	height:356px;
}
.light-bottom-wrap {
	top:791px;	
	height:356px;	
}
.clear-wrap {
	width:100%;	
	height:305px;
	position:absolute;
	top:791px;
	left:0;
}
.messier-wrap {
	width:100%;	
	height:305px;
	position:absolute;
	top:430px;
	left:0;	
	background-color:#000;
	opacity:0.7;
}
.sub-copy-box h4, .sub-copy-box h4, .sub-copy-box-flip h4, .small-box h4, .copy-wrap-left h4, .copy-wrap-right h4 {
	color:#FFF;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	margin:0;
	padding-bottom:10px;
}
.copy-wrap-top p, .copy-wrap-left p, .copy-wrap-right p, .sub-copy-box p, .sub-copy-box p, .sub-copy-box-flip p, 
.small-box, .moon-copy-wrap p, .moon-copy-wrap-2, .moon-copy-wrap-3, .moon-copy-wrap-4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	line-height:1.6em;	
	margin:0;
}
.moon-copy-wrap p, .moon-copy-wrap-2 p, .moon-copy-wrap-3 p, .moon-copy-wrap-4 p {
	line-height:1.4;
	margin-bottom:7px;
	margin-top:0;	
}
.moon-copy-wrap h5, .moon-copy-wrap-2 h5, .moon-copy-wrap-3 h5, .moon-copy-wrap-4 h5  {
	font-size:18px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:5px;
}
.facts-list {
	color:#FFF;
	line-height:1.6em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:show !important;
}
.video {
	position:absolute;
	top:0;
	left:490px;	
	height:255px;
	width:440px;
}
.footer-ribbon {
	position:absolute;
	bottom: 65px;
	left:-44px;	
	width:1049px;
	height:200px;
}
