
#sun {
	background-image:url(../img-planets/sun-bkg.jpg);
}
#mercury {
	background-image:url(../img-planets/mercury-bkg.jpg);
}
#venus {
	background-image:url(../img-planets/venus-bkg.jpg);
}
#earth {
	background-image:url(../img-planets/earth-bkg.jpg);
}
#mars {
	background-image:url(../img-planets/mars-bkg.jpg);
}
#jupiter {
	background-image:url(../img-planets/jupiter-bkg.jpg);
}
#saturn {
	background-image:url(../img-planets/saturn-bkg.jpg);
}
#uranus {
	background-image:url(../img-planets/uranus-bkg.jpg);
}
#neptune {
	background-image:url(../img-planets/neptune-bkg.jpg);
} 
	
.temp-right,
.ruler-right,
.orbit-right,
.temp-left,
.ruler-left,
.orbit-left
{
	position:absolute;
	height:auto;
	z-index:2;
}
.temp-right {
	top:13px;
	left:535px;	
	width:101px; 
}
.ruler-right {
	top:10px;
	left:666px;	
	width:80px;
}
.orbit-right {
	top:30px;
	left:770px;	
	width:129px;
}
.temp-left {
	top:14px;
	left:50px;	
	width:101px; 
}
.ruler-left {
	top:10px;
	left:175px;	
	width:80px;
}
.orbit-left {
	top:30px;
	left:280px;	
	width:129px;
}
.mercury-core,
.earth-core,
.venus-core  {
	position:absolute;
	height:auto;
}
.mercury-core {
	top:307px;
	left:60px;	
	width:800px;
}
.earth-core {
	top:747px;
	left:60px;	
	width:800px;
}
.mercury-footer-ribbon {
	position:absolute;
	bottom: -866px;
	left:-32px;	
	width:1023px;
	height:200px;	
}
.venus-core {
	top:715px;
	left:60px;	
	width:800px;
}
.moon-info-wrap {
	opacity: 0.7;
	top:1027px;
	width: 100%;
}
.moon-wrap {
	top:685px;
	width: 100%;
}
.moon-section {
	width:237px;
	height:161px;
	display:inline-block;
	background: #7d7e7d; /* Old browsers */
	padding:15px;
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
.moon {
	position:relative;
	display: inline-block;
}
.moon:nth-child(1) {
	top:-87px;
	left:63px;
}
.moon:nth-child(2) {
	top:8px;
	left:97px;	
}
.moon:nth-child(3) {
	top:44px;
	left:106px;	/* SHRINK */
}
.moon:nth-child(4) {
	top:20px;
	left:112px;	/* SHRINK */
}
.moon-copy-wrap, 
.moon-copy-wrap-2, 
.moon-copy-wrap-3, 
.moon-copy-wrap-4 {
	position:absolute;
	z-index:50;
	width:207px;
	height:131px;	
}
.moon-copy-wrap {
	top:13px;
	left:15px;
}
.moon-copy-wrap-2 {
	top:13px;
	left:257px;
}
.moon-copy-wrap-3 {
	top:13px;
	left:498px;
}
.moon-copy-wrap-4 {
	top:13px;
	right:13px;
}
.mercury-footer-ribbon {
	position:absolute;
	bottom: -875px;
	left:-44px;	
	width:1049px;
	height:200px;
}
.sun-fact-top, 
.sun-fact-bottom, 
.mercury-fact-top, 
.mercury-fact-bottom,
.venus-fact-top,
.venus-fact-bottom,
.earth-fact-top,
.earth-fact-bottom,
.mars-fact-top,
.mars-fact-bottom,
.saturn-fact-top,
.saturn-fact-bottom,
.uranus-fact-top,
.uranus-fact-bottom,
.neptune-fact-top,
.neptune-fact-bottom  {
	position:absolute;
	z-index:2;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	font-weight:bold;
}
.sun-fact-top {
	top:829px;
	left:222px;
	font-size:18px;
}
.sun-fact-bottom {
	top:890px;
	left:297px;
	font-size:16px;
}
.mercury-fact-top {
	top:741px;
	left:246px;
	font-size:18px;
}
.mercury-fact-bottom {
	top:801px;
	left:305px;
	font-size:16px;
}
.venus-fact-top {
	top:1195px;
	left:201px;
	font-size:18px;
}
.venus-fact-bottom {
	top:1254px;
	left:278px;
	font-size:16px;
}
.earth-fact-top {
	top:1195px;
	left:268px;
	font-size:18px;
}
.earth-fact-bottom {
	top:1254px;
	left:314px;
	font-size:16px;
}
.mars-fact-top {
	top:1195px;
	left:240px;
	font-size:18px;
}
.mars-fact-bottom {
	top:1254px;
	left:282px;
	font-size:16px;
}
.saturn-fact-top {
	top:1302px;
	left:240px;
	font-size:18px;
}
.saturn-fact-bottom {
	top:1362px;
	left:282px;
	font-size:16px;
}
.uranus-fact-top {
	top:1197px;
	left:195px;
	font-size:18px;
}
.uranus-fact-bottom {
	top:1257px;
	left:282px;
	font-size:16px;
}
.neptune-fact-top {
	top:1197px;
	left:195px;
	font-size:18px;
}
.neptune-fact-bottom {
	top:1254px;
	left:318px;
	font-size:16px;
}
