.probes-section, .mars-express-section, .opportunity-section, .galileo-section, .near-section, .viking-section, .horizons-section, .voyager-section {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-position:center; 
}
.probes-section {
	background-image:url(../img-probes/probes-bkg.jpg);
}
.mars-express-section {
	background-image:url(../img-probes/mars-express-bkg.jpg);
}
.opportunity-section {
	background-image:url(../img-probes/opportunity-bkg.jpg);
}
.galileo-section {
	background-image:url(../img-probes/galileo-bkg.jpg);
}
.near-section {
	background-image:url(../img-probes/near-bkg.jpg);
}
.viking-section {
	background-image:url(../img-probes/viking-bkg.jpg);
}
.horizons-section {
	background-image:url(../img-probes/horizons-bkg.jpg);
}
.voyager-section {
	background-image:url(../img-probes/voyager-bkg.jpg);
}

.mars-express-ribbon-1, .near-ribbon-1, .new-horizons-ribbon-1, .mars-express-ribbon-2, .near-ribbon-2, .new-horizons-ribbon-2,
.mars-express-ribbon-3, .near-ribbon-3, .new-horizons-ribbon-3, .mars-express-footer-ribbon, .viking-footer-ribbon, .voyager-footer-ribbon,
.mars-express-footer-ribbon-2, .viking-footer-ribbon-2, .voyager-footer-ribbon-2, .distances-driven, .galileo-footer-ribbon, .near-footer-ribbon,
.new-horizons-footer, .viking-chart, .probes-main-ribbon-footer {
	position:absolute;	
	height:auto;
}

.mars-express-ribbon-1, .near-ribbon-1, .new-horizons-ribbon-1 {
	top:-10px;
	left:-32px;
	width:460px;
}
.mars-express-ribbon-2, .near-ribbon-2, .new-horizons-ribbon-2 {
	top:78px;
	left:-32px;
	width:460px;
}
.mars-express-ribbon-3, .near-ribbon-3, .new-horizons-ribbon-3 {
	top:167px;
	left:-32px;
	width:460px;
}
.near-ribbon-3, .new-horizons-ribbon-3 {
	left:-30px !important;	
}
.mars-express-footer-ribbon, .viking-footer-ribbon, .voyager-footer-ribbon {
	top:733px;
	left:-36px;
	width:1033px;
}
.mars-express-footer-ribbon-2, .viking-footer-ribbon-2, .voyager-footer-ribbon-2 {
	top:867px;
	right:-47px;
	width:460px;
}
.distances-driven {
	top:0px;
	right:20px;
	width:460px;
}
.galileo-footer-ribbon, .near-footer-ribbon {
	top:733px;
	left:-36px;
	width:1029px;
}
.new-horizons-footer {
	top:1072px;
	left:72px;
	width:928px;
}
.viking-chart {
	top:8px;
	right:44px;
	width:400px;
}
.probes-main-ribbon-footer {
	top:766px;
	right:-46px;
	width:1051px;
}
