.probes-section, .mars-express-section, .opportunity-section, .galileo-section, .near-section, .viking-section, .horizons-section, .voyager-section {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-position:center; 
}
.probes-section {
	background-image:url(../img/probes-bkg.jpg);
}
.mars-express-section {
	background-image:url(../img/mars-express-bkg.jpg);
}
.opportunity-section {
	background-image:url(../img/opportunity-bkg.jpg);
}
.galileo-section {
	background-image:url(../img/galileo-bkg.jpg);
}
.near-section {
	background-image:url(../img/near-bkg.jpg);
}
.viking-section {
	background-image:url(../img/viking-bkg.jpg);
}
.horizons-section {
	background-image:url(../img/horizons-bkg.jpg);
}
.voyager-section {
	background-image:url(../img/voyager-bkg.jpg);
}
.mars-express-ribbon-1, .near-ribbon-1, .new-horizons-ribbon-1 {
	position:absolute;
	top:-10px;
	left:-32px;
	width:460px;
	height:auto;
}
.mars-express-ribbon-2, .near-ribbon-2, .new-horizons-ribbon-2 {
	position:absolute;
	top:78px;
	left:-32px;
	width:460px;
	height:auto;
}
.mars-express-ribbon-3, .near-ribbon-3, .new-horizons-ribbon-3 {
	position:absolute;
	top:167px;
	left:-32px;
	width:460px;
	height:auto;
}
.near-ribbon-3, .new-horizons-ribbon-3 {
	left:-30px !important;	
}
.mars-express-footer-ribbon, .viking-footer-ribbon, .voyager-footer-ribbon {
	position:absolute;
	top:733px;
	left:-36px;
	width:1033px;
	height:auto;
}
.mars-express-footer-ribbon-2, .viking-footer-ribbon-2, .voyager-footer-ribbon-2 {
	position:absolute;
	top:867px;
	right:-47px;
	width:460px;
	height:auto;
}
.distances-driven {
	position:absolute;
	top:0px;
	right:20px;
	width:460px;
	height:auto;
}
.galileo-footer-ribbon, .near-footer-ribbon {
	position:absolute;
	top:733px;
	left:-36px;
	width:1029px;
	height:auto;	
}
.new-horizons-footer {
	position:absolute;
	top:1072px;
	left:72px;
	width:928px;
	height:auto;
}
.viking-chart {
	position:absolute;
	top:8px;
	right:44px;
	width:400px;
	height:auto;	
}
.probes-main-ribbon-footer {
	position:absolute;
	top:766px;
	right:-46px;
	width:1051px;
	height:auto;	
}
