body {
	height: 100%;
}
body,html { overflow-x: hidden; }
.container {
	width:960px;
	margin:0 auto;
	background-color:
	#333;	
}
h1 {
	font-size:61px;		
	font-weight:bold;
	color:#FFF;
}
h2 {
	color:#FFF;
	font-weight:bold;	
}
p {
	color:#FFF;	
}
.abs-position { position:absolute; top: 0; left: 0; }
.font-arial { font-family:Arial, Helvetica, sans-serif; }
.box2 {
	background-color:#000;
	opacity:0.6;
	padding:20px;	
}
.title {
	height:42px;
	opacity:0.6;
	position:relative;
	top:40px;
	left:0;
}
.title p, .light-header {
	font-size:28px;
	color:#0F0;
	font-weight:bold;
 	background: -webkit-linear-gradient(#a4f441, #67af45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}	
.content-main {
	width:700px;
	background-color:#000;
	opacity:0.6;
	position:relative;
	top:75px;
	left:0;
	padding:20px;	
}
.content-main p, .content-sub p {
	line-height:1.6em;	
	font-size:12px;
}
.content-sub {
	width:407px;
	background-color:#000;
	opacity:0.6;
	position:relative;
	top:100px;
	left:0;
	padding:20px;	
}
.footer-wrap {
	width:100%;
	height:255px;
	position:absolute;
	top:740px;
	left:0;	
}

/*****
 * Start Twinkling Stars
******/
@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(../img/stars.png) repeat;
  z-index: 1;
}

.twinkling{
  background:transparent url(../img/twinkling.png) repeat top center;
  z-index: 2;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
#message {
	resize:none;
}
}
